
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  
  display: flex;
  justify-content: center; 
  align-items: center;     

}

.container {
  max-width: 600px; 
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

ul {
  list-style-type: decimal; 
  padding-left: 20px; 
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.lista-cidade,
.lista-cinema,
.garage {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}


